.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  width: 840px;
  margin: 0px auto;
}

.title {
  font-weight: 700;
  font-size: 32px;
  color: #4047f0;
  margin: 15px auto 0px;
  background-color: white;
}

.footnote {
  font-weight: 400;
  font-size: 14px;
  color: lightgray;
  margin: 0px auto;
  width: 500px;
}
