.container {
  display: flex;
  margin: 15px auto;
  max-width: 1000px;
  flex-direction: column;
  container-type: inline-size;
  container-name: main;
}

.title {
  color: #4047f0;
  font-weight: 700;
  font-size: 34px;
  margin: 0px auto;
  position: relative;
}

.content {
  margin-top: 30px;
  display: flex;
  position: relative;
}

.images {
  display: flex;
  width: 465px;
  /* width: fit-content; */
  container-type: inline-size;
  container-name: images;
}

.leftColumn {
  width: 250px;
  height: 415px;
  margin-right: 15px;
  left: 0px;
  border-radius: 10px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.rightColumnImage {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.info {
  flex: 1;
  margin: 0px 15px;
  font-size: 18px;
}

.infoHeader {
  font-weight: 700;
  font-size: 32px;
}

#name {
  color: #4047f0;
  font-weight: 700;
}

#rit {
  color: #ff6900;
  font-weight: 700;
}

@container main (max-width: 999px) {
  .content {
    flex-direction: column;
  }

  .images {
    margin: 0px auto;
  }
}

@container main (max-width: 465px) {
  .container {
    margin: 0px;
  }

  .content {
    margin-top: 15px;
  }

  .images {
    flex-direction: column;
    width: 250px;
  }

  .leftColumn {
    width: 100%;
  }

  .leftColumn div {
    margin: 0px auto;
  }

  .rightColumn {
    width: 100%;
    flex-direction: row;
    margin-top: 10px;
    display: none;
  }

  .rightColumnImage {
    flex: 1;
  }

  .rightColumnImage div {
    width: fit-content;
    margin: 0px auto;
  }
}
