.headerWrapper {
  position: sticky;
  top: 0px;
  display: flex;
  margin: 0px 0px 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: 0px 15px 10px -20px #111;
  background-color: white;
  width: 100%;
  z-index: 1;
  container-type: inline-size;
}

.nameLogo {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.firstName,
.lastName {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
}

.firstName {
  color: #4047f0;
}

.spacer {
  flex-grow: 1;
}

.links {
  display: flex;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  padding-right: 15px;
}

.link {
  border-right: 3px solid black;
  padding: 5px 7px;
}

.active {
  border-bottom: 2px solid #4047f0;
}

.contact {
  padding: 5px 7px;
  color: white;
  background-color: #4047f0;
  margin: 0px 5px;
  border-radius: 5px;
}

.shadow {
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.contactModal {
  background-color: #d9d9d9;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}

.closeButton {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700px;
  position: absolute;
  right: 0px;
  margin: 25px;
  cursor: pointer;
}

.modalContent {
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  background-color: #ececec;
}

.title {
  color: #4047f0;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 5px;
}

.hamburgerMenuContent {
  position: absolute;
  box-shadow: 5px 5px 5px gray;
  background-color: #d9d9d9;
  border-radius: 5px;
  right: 0px;
  margin: 0px 15px;
}

.hamburgerMenu {
  margin: auto 15px;
  display: none;
}

.hamburgerMenuIcon {
  cursor: pointer;
  border-radius: 5px;
  display: none;
}

.hamburgerLinks {
  margin: 5px;
  background-color: #ececec;
  border-radius: 5px;
}

.hamburgerLink {
  width: 150px;
  font-size: 18px;
  padding: 10px 5px;
}

.hamburgerLink:not(:last-child) {
  border-bottom: 1px solid black;
}

@container (max-width: 550px) {
  .links {
    display: none;
  }

  .hamburgerMenu {
    display: block;
  }

  .hamburgerMenuIcon {
    display: block;
  }
}
